@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

.btn {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none transparent;
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }

.btn-hover,
.btn:hover,
.btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.btn:focus {
  outline: 0; }

.btn-active,
.btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"],
.form input[type="tel"] {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box; }

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="tel"]:focus {
  outline: 0;
  border: 1px solid #f56c23; }

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="number"],
.form-stacked input[type="tel"],
.form-stacked label {
  display: block;
  margin: 0.25em 0; }

.form-group {
  margin-bottom: 15px; }

.form-group label {
  margin-bottom: 8px;
  font-size: 80%; }

.form-group:last-child {
  text-align: right;
  margin-bottom: 0; }

html, body {
  font-family: '微軟正黑體', sans-serif;
  font-weight: 500;
  font-size: 20px;
  overflow-x: hidden; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

header {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99; }
  header .logo {
    float: left;
    padding: 15px; }
    @media (max-width: 767px) {
      header .logo {
        float: none; } }
    header .logo a {
      display: block;
      background-image: url("../img/logo_w@svg.svg");
      background-size: cover;
      width: 120px;
      height: 24px;
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden; }
  header nav {
    float: right; }
    @media (max-width: 767px) {
      header nav {
        padding: 0;
        float: none;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s; } }
    header nav li {
      float: left; }
      @media (max-width: 767px) {
        header nav li {
          display: block;
          margin-left: 0;
          float: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2); } }
      @media (max-width: 767px) {
        header nav li:last-child {
          border: none; } }
      header nav li a {
        display: block;
        color: #efe9e7;
        font-size: 80%;
        padding: 19px;
        transition: all 0.5s; }
        @media (max-width: 767px) {
          header nav li a {
            padding: 15px; } }
        header nav li a:hover {
          background-color: #f6f4f3;
          color: #3d1101; }
  header nav.open {
    max-height: 200px; }
  header .menu-btn {
    width: 30px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 17px;
    cursor: pointer;
    display: none; }
    @media (max-width: 767px) {
      header .menu-btn {
        display: block; } }
    header .menu-btn .bar-top, header .menu-btn .bar-middle, header .menu-btn .bar-bottom {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #FFF;
      transition: all 0.5s; }
    header .menu-btn .bar-top {
      top: 0; }
    header .menu-btn .bar-middle {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    header .menu-btn .bar-bottom {
      bottom: 0; }
  header .menu-btn.click .bar-top {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  header .menu-btn.click .bar-middle {
    opacity: 0; }
  header .menu-btn.click .bar-bottom {
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%); }

.banner {
  height: 420px;
  background-image: url("../img/header_desktop@2x.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  @media (max-width: 767px) {
    .banner {
      background-image: url(../img/header_mobile.png); } }
  .banner .center-box {
    background-color: rgba(0, 0, 0, 0.35);
    color: #efe9e7;
    padding: 25px 30px;
    text-align: center;
    min-width: 460px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (max-width: 767px) {
      .banner .center-box {
        padding: 25px 0;
        min-width: 310px; } }
    .banner .center-box h1 {
      font-size: 180%;
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        .banner .center-box h1 {
          line-height: 130%; } }
    @media (max-width: 767px) {
      .banner .center-box .break {
        display: block; } }
    .banner .center-box p {
      font-size: 80%;
      font-weight: 300;
      line-height: 140%; }
    .banner .center-box i {
      font-size: 100%;
      margin: 0 5px; }

footer {
  background-color: #efe9e7;
  padding: 50px 0;
  color: #3d1101; }
  footer .footer-box {
    position: relative;
    padding: 0 15px;
    width: 33.333%;
    float: left; }
    @media (max-width: 767px) {
      footer .footer-box {
        width: 100%;
        float: none;
        margin-bottom: 30px; } }
    footer .footer-box:last-child {
      text-align: right; }
      @media (max-width: 767px) {
        footer .footer-box:last-child {
          text-align: left;
          margin-bottom: 0; } }
    footer .footer-box h2 {
      display: inline-block;
      font-size: 120%;
      padding: 10px 20px;
      margin-bottom: 20px;
      border-left: 5px solid #3d1101; }
    footer .footer-box p {
      font-size: 80%;
      line-height: 140%; }
    footer .footer-box .contact {
      list-style: disc;
      margin-left: 25px; }
      footer .footer-box .contact li {
        margin-bottom: 5px; }
        footer .footer-box .contact li a {
          color: #3d1101;
          font-size: 80%; }
    footer .footer-box .social-icons {
      margin-top: 20px;
      float: right; }
      @media (max-width: 767px) {
        footer .footer-box .social-icons {
          float: none; } }
      footer .footer-box .social-icons li {
        float: left; }
      footer .footer-box .social-icons i {
        font-size: 200%;
        margin-left: 10px; }
        @media (max-width: 767px) {
          footer .footer-box .social-icons i {
            margin-left: 0;
            margin-right: 15px;
            font-size: 220%; } }
      footer .footer-box .social-icons .google {
        color: #dd4b39; }
      footer .footer-box .social-icons .twitter {
        color: #55acee; }
      footer .footer-box .social-icons .facebook {
        color: #3b5998; }

.feature {
  background-color: #efe9e7;
  color: #3d1101;
  padding: 50px 0;
  text-align: center; }
  .feature .feature-title {
    margin-bottom: 60px; }
    .feature .feature-title h2 {
      display: inline-block;
      font-size: 100%;
      line-height: 140%;
      padding: 0 15px;
      background-color: #efe9e7; }
    .feature .feature-title hr {
      max-width: 460px;
      margin-top: -28px; }
  .feature .feature-box {
    position: relative;
    padding: 0 15px;
    width: 33.333%;
    float: left; }
    @media (max-width: 767px) {
      .feature .feature-box {
        width: 100%;
        float: none;
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      .feature .feature-box:last-child {
        margin-bottom: 0; } }
    .feature .feature-box img {
      border-radius: 50%; }
    .feature .feature-box h3 {
      font-size: 90%;
      margin: 15px 0; }
    .feature .feature-box p {
      text-align: left;
      font-size: 80%;
      line-height: 140%;
      width: 90%;
      margin: 0 auto; }

.chef {
  background-color: #3d1101;
  color: #efe9e7;
  font-weight: 300; }
  .chef .chef-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767px) {
      .chef .chef-flex {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .chef .chef-box {
    position: relative;
    padding: 0 15px;
    width: 50%;
    float: left; }
    .chef .chef-box:first-child {
      padding: 0; }
    @media (max-width: 767px) {
      .chef .chef-box {
        width: 100%;
        float: none;
        margin-bottom: 30px; } }
    .chef .chef-box h2 {
      font-size: 100%;
      margin: 5px 0; }
    .chef .chef-box .title {
      margin-bottom: 15px; }
    .chef .chef-box p {
      font-size: 80%;
      line-height: 140%; }

.testimonials {
  background-color: #efe9e7;
  color: #3d1101;
  padding: 50px 0; }
  .testimonials h2 {
    font-size: 120%;
    text-align: center;
    margin-bottom: 40px; }
  .testimonials .testimonials-box {
    position: relative;
    width: 33.333%;
    float: left;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .testimonials .testimonials-box {
        width: 100%;
        float: none;
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      .testimonials .testimonials-box:last-child {
        margin-bottom: 0; } }
    .testimonials .testimonials-box .testimonials-img {
      width: 67px;
      float: left;
      text-align: center; }
      .testimonials .testimonials-box .testimonials-img img {
        border-radius: 50%; }
    .testimonials .testimonials-box .testimonials-content {
      padding-top: 25px;
      margin-left: 77px; }
      .testimonials .testimonials-box .testimonials-content h3 {
        font-size: 90%;
        margin-bottom: 20px; }
      .testimonials .testimonials-box .testimonials-content p {
        font-size: 80%;
        line-height: 140%; }
      .testimonials .testimonials-box .testimonials-content .name {
        margin-top: 15px;
        text-align: right;
        opacity: 0.75; }

.map {
  background-color: #f6f4f3;
  padding: 50px 0;
  color: #3d1101; }
  .map h2 {
    font-size: 120%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    line-height: 140%; }
  .map .map-box {
    position: relative;
    width: 50%;
    float: left;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .map .map-box {
        width: 100%;
        float: none;
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      .map .map-box:last-child {
        margin-bottom: 0; } }
    .map .map-box input[type="text"], .map .map-box input[type="tel"], .map .map-box input[type="email"], .map .map-box input[type="number"] {
      width: 100%;
      font-size: 80%; }
      @media (max-width: 767px) {
        .map .map-box input[type="text"], .map .map-box input[type="tel"], .map .map-box input[type="email"], .map .map-box input[type="number"] {
          padding: 12px 8px; } }
    .map .map-box button {
      font-size: 80%;
      padding: 6px 20px; }
      @media (max-width: 767px) {
        .map .map-box button {
          padding: 10px 25px; } }
    .map .map-box .btn-reset {
      background-color: #a09e9e;
      color: #f6f4f3;
      margin-right: 10px; }
    .map .map-box .btn-submit {
      background-color: #f56c23;
      color: #efe9e7; }
  .map .form-group .true, .map .form-group .false {
    display: inline-block; }

.cart {
  background-color: #efe9e7;
  padding-top: 50px;
  color: #3d1101; }
  .cart .menu {
    width: 25%;
    float: left;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .cart .menu {
        width: 100%;
        float: none;
        margin-bottom: 25px; } }
    .cart .menu h2 {
      margin: 7px 0 20px;
      font-size: 90%; }
      .cart .menu h2 i {
        margin-right: 10px;
        font-size: 130%;
        vertical-align: middle; }
    .cart .menu nav li:last-child a {
      color: #efe9e7;
      background-color: #3d1101; }
      @media (max-width: 767px) {
        .cart .menu nav li:last-child a {
          padding: 13px 10px; } }
    .cart .menu nav li a {
      display: block;
      font-size: 80%;
      color: #3d1101;
      padding: 10px;
      border-bottom: 1px solid #3d1101;
      transition: all 0.5s; }
      .cart .menu nav li a:hover {
        color: #efe9e7;
        background-color: #3d1101; }
  .cart .product {
    width: 75%;
    float: left;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .cart .product {
        width: 100%;
        float: none; } }
    .cart .product .product-search {
      margin-bottom: 25px;
      padding: 0 1%; }
      .cart .product .product-search:before, .cart .product .product-search:after {
        content: "";
        display: table; }
      .cart .product .product-search:after {
        clear: both; }
      @media (max-width: 767px) {
        .cart .product .product-search {
          padding: 0; } }
      .cart .product .product-search .search-content {
        width: 60%;
        float: left;
        position: relative; }
        @media (max-width: 767px) {
          .cart .product .product-search .search-content {
            width: 100%;
            float: none;
            margin-bottom: 10px; } }
        .cart .product .product-search .search-content input {
          display: inline-block;
          width: 100%;
          background-color: transparent;
          border: 2px solid #3d1101;
          padding: 5px; }
          @media (max-width: 767px) {
            .cart .product .product-search .search-content input {
              padding: 10px; } }
        .cart .product .product-search .search-content a {
          display: inline-block;
          position: absolute;
          right: 0;
          background-color: #3d1101;
          color: #efe9e7;
          font-size: 90%;
          line-height: 29px;
          padding: 0 6px; }
          @media (max-width: 767px) {
            .cart .product .product-search .search-content a {
              line-height: 39px;
              padding: 0 10px;
              font-size: 100%; } }
      .cart .product .product-search .product-cart {
        width: 40%;
        float: right;
        text-align: right; }
        @media (max-width: 767px) {
          .cart .product .product-search .product-cart {
            width: 100%;
            float: none; } }
        .cart .product .product-search .product-cart span {
          font-size: 80%; }
        .cart .product .product-search .product-cart span.space {
          display: inline-block;
          margin: 0 10px; }
        .cart .product .product-search .product-cart a {
          color: #3d1101; }
        .cart .product .product-search .product-cart i {
          font-size: 150%; }
    .cart .product .product-box {
      position: relative;
      width: 31.333%;
      float: left;
      margin: 0 1% 30px;
      text-align: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
      cursor: pointer; }
      @media (max-width: 768px) {
        .cart .product .product-box {
          width: 48%; } }
      @media (max-width: 767px) {
        .cart .product .product-box {
          width: 100%;
          float: none;
          margin: 0 0 30px; } }
      .cart .product .product-box:last-child {
        margin-bottom: 0; }
      .cart .product .product-box h2 {
        font-size: 100%;
        margin-bottom: 5px; }
      .cart .product .product-box p {
        font-size: 60%;
        height: 25px; }
        .cart .product .product-box p:after {
          content: "";
          display: block;
          width: 100px;
          height: 1px;
          background-color: #3d1101;
          margin: 10px auto 0; }
      .cart .product .product-box h3 {
        font-family: 'Roboto';
        margin: 20px 0 15px; }
      .cart .product .product-box .hotsale {
        width: 134px;
        height: 38px;
        background-image: url("../img/hotsale.png");
        background-size: cover;
        position: absolute;
        top: 15px;
        right: -33px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 2; }
      .cart .product .product-box .hotfood {
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
        color: #efe9e7;
        font-weight: 800;
        font-size: 90%; }
      .cart .product .product-box .product-img {
        position: relative;
        overflow: hidden; }
        .cart .product .product-box .product-img img {
          width: 100%;
          transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
          transition: transform 0.5s, -webkit-transform 0.5s; }
        .cart .product .product-box .product-img:hover img {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2); }
        .cart .product .product-box .product-img i {
          position: absolute;
          color: #efe9e7;
          top: 7px;
          left: 7px; }
          @media (max-width: 767px) {
            .cart .product .product-box .product-img i {
              top: 10px;
              left: 10px;
              font-size: 150%; } }
      .cart .product .product-box .product-detail {
        padding: 15px; }
      .cart .product .product-box .add-cart {
        display: block;
        color: #ff5145;
        border: 2px solid #ff5145;
        border-radius: 3px;
        font-size: 80%;
        padding: 5px 0;
        transition: all 0.5s; }
        @media (max-width: 767px) {
          .cart .product .product-box .add-cart {
            padding: 10px 0; } }
        .cart .product .product-box .add-cart i {
          margin-right: 7px; }
        .cart .product .product-box .add-cart:hover {
          background-color: #ff5145;
          color: #efe9e7; }

.register {
  background-color: #efe9e7;
  padding: 50px 0 5px;
  color: #3d1101; }
  .register .register-container {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 15px; }
    .register .register-container .register-title {
      margin-bottom: 30px;
      text-align: center; }
      .register .register-container .register-title h2 {
        font-size: 240%;
        font-weight: 800;
        margin-bottom: 10px; }
      .register .register-container .register-title h3 {
        font-size: 100%;
        font-weight: 800; }
    .register .register-container .register-form {
      padding: 20px 15px;
      border-top: 4px solid #f56c23;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15); }
      .register .register-container .register-form:before, .register .register-container .register-form:after {
        content: "";
        display: table; }
      .register .register-container .register-form:after {
        clear: both; }
      @media (max-width: 767px) {
        .register .register-container .register-form {
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15); } }
      .register .register-container .register-form h4 {
        font-size: 90%;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: center; }
      .register .register-container .register-form p {
        font-size: 90%;
        line-height: 140%; }
        @media (max-width: 767px) {
          .register .register-container .register-form p {
            margin-bottom: 20px; } }
      .register .register-container .register-form .register-box {
        position: relative;
        width: 50%;
        float: left;
        padding: 0 15px; }
        @media (max-width: 767px) {
          .register .register-container .register-form .register-box {
            width: 100%;
            float: none; } }
        @media (max-width: 767px) {
          .register .register-container .register-form .register-box:first-child {
            margin-bottom: 25px; } }
        .register .register-container .register-form .register-box input[type="text"], .register .register-container .register-form .register-box input[type="password"] {
          width: 100%;
          margin-bottom: 10px;
          padding: 8px;
          font-size: 80%;
          text-indent: 25px; }
          @media (max-width: 767px) {
            .register .register-container .register-form .register-box input[type="text"], .register .register-container .register-form .register-box input[type="password"] {
              padding: 12px 8px; } }
        .register .register-container .register-form .register-box .input-group {
          position: relative; }
          .register .register-container .register-form .register-box .input-group i {
            position: absolute;
            font-size: 80%;
            left: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            opacity: 0.5; }
        .register .register-container .register-form .register-box .btn-register {
          background-color: #f56c23;
          color: #efe9e7;
          padding: 5px 40px;
          font-size: 90%; }
          @media (max-width: 767px) {
            .register .register-container .register-form .register-box .btn-register {
              padding: 10px 40px;
              font-size: 80%; } }
        .register .register-container .register-form .register-box .have {
          font-size: 70%;
          color: #f56c23; }
